*.o
*.s
wc4
wc42
wc43
test-wc4
test-wc4-*-wc4
run-test-wc4-*
test-wc4-gcc
test-wc4-*-gcc
test-set
test-set-gcc
test-graph
test-ssa
test-ssa-gcc
test-instrsel
test-instrsel-gcc
benchmark
test.c
test1.c
test2.c
test.h
test
test1
test2
core
a.out
test-include/test-include
build
gmon.out
