*.o
*.s
externals.c
wcc
wcc2
wcc3
test-wcc
test-wcc-*-wcc
run-test-wcc-*
test-wcc-gcc
test-wcc-*-gcc
test-set
test-set-gcc
test-graph
test-ssa
test-ssa-gcc
test-instrsel
test-instrsel-gcc
test-parser-gcc
benchmark
test.c
test1.c
test2.c
test.h
test
test1
test2
core
a.out
test-include/test-include
build
gmon.out
wcc-tests.rulecov
instrsel-tests.rulecov
wcc2.rulecov
print-rule-coverage-report
rulecov.html
