*.o
*.s
wc4
wc42
wc42-frp
wc42-O1
wc42-ssa
wc42-ssa-dsslr
wc43
wc43-O1
wc43-ssa
test-wc4
test-wc4-frp
test-wc4-gcc
test-wc4-frp-ncr
test-wc4-O1
test-wc4-ssa
test-set
test-ssa
test-codegen
benchmark
test.c
test1.c
test2.c
test.h
test
test1
test2
core
a.out
test-include/test-include
build
