run-test-*-wcc
run-test-*-gcc
run-test-abi
test-*-wcc
test-*-gcc
gen-test-arithmetic-types-move-torture
test-arithmetic-types-move-torture.c
gen-test-arithmetic-torture
test-arithmetic-torture.c
test-include/test-include
wcc-tests.rulecov
test-reg-move-torture.c
test-abi-gcc-gcc
test-abi-wcc-gcc
test-abi-gcc-wcc
test-abi-wcc-wcc
